In [2]:
import numpy as np
import pandas as pd

In [5]:
columns = ['headline', 'text', 'class']
df = pd.DataFrame(columns=columns)

In [33]:
import os

directory = './bbc'
 
for filename in os.scandir(directory):
    if filename.is_dir():
        text_class = filename.path.split("/")[-1]
        for file in os.scandir(filename.path):
            if file.is_file():
                with open(file.path) as f:
                    lines = f.readlines()
                    headline = lines[0]
                    lines.remove(lines[0])
                    try:
                        lines.remove("\n")
                    except:
                        pass
                    lines = "".join(lines)
                    
                    temp = {
                        "headlineline, lines, text_class]
                    
                    df = df.append(temp, ignore_index=True)
            break

In [34]:
df

                                                    0 class headline text
0                   Musicians to tackle US red tape\n   NaN      NaN  NaN
1   Musicians' groups are to tackle US visa regula...   NaN      NaN  NaN
2                                       entertainment   NaN      NaN  NaN
3                   UK economy facing 'major risks'\n   NaN      NaN  NaN
4   The UK manufacturing sector will continue to f...   NaN      NaN  NaN
5                                            business   NaN      NaN  NaN
6                  Fuming Robinson blasts officials\n   NaN      NaN  NaN
7   England coach Andy Robinson insisted he was "l...   NaN      NaN  NaN
8                                               sport   NaN      NaN  NaN
9                   Baron Kinnock makes Lords debut\n   NaN      NaN  NaN
10  Former Labour leader Neil Kinnock has official...   NaN      NaN  NaN
11                                           politics   NaN      NaN  NaN
12                  Mobiles rack up 20 years of use\n   NaN      NaN  NaN
13  Mobile phones in the UK are celebrating their ...   NaN      NaN  NaN
14                                               tech   NaN      NaN  NaN